<div class="dashboard-wrapper container-fluid">
    <div class="row justify-content-between">
        <div class="card col-md-4">
            <div class="card-body">
              <h2 class="card-title">Recent Activities</h2>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <app-recent-activities></app-recent-activities>
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-body">
                <h2 class="card-title">Week activity summary</h2>
              <app-overall-activity></app-overall-activity>
            </div>
          </div>
          <div class="card col-md-4">
            <div class="card-body">
                <h2 class="card-title">Activity Tracker</h2>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <app-occurence-chart></app-occurence-chart>
            </div>
          </div>
    </div>
</div>