.todo-list {
    height: 20rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
    .form-group {
        padding-bottom: 1rem !important;
    }
}

.form-input-container {
    margin-bottom: 1rem;
}